<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifescribev01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LifeScribe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SelectedPerson"
            android:label="@string/title_activity_selected_person"
            android:parentActivityName=".PeopleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lifescribev01.PeopleActivity" />
        </activity>
        <activity
            android:name=".NewAdvice"
            android:label="New Advice"
            android:parentActivityName=".AdviceActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lifescribev01.AdviceActivity" />
        </activity>
        <activity
            android:name=".NewStory"
            android:label="New Story"
            android:parentActivityName=".StoriesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lifescribev01.StoriesActivity" />
        </activity>
        <activity
            android:name=".NewPeople"
            android:label="New Person"
            android:parentActivityName=".PeopleActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lifescribev01.PeopleActivity" />
        </activity>
        <activity
            android:name=".NewFamilyTree"
            android:label="New Family Tree"
            android:parentActivityName=".FamilyTreeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lifescribev01.FamilyTreeActivity" />
        </activity>
        <activity
            android:name=".AdviceActivity"
            android:label="Advice"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lifescribev01.MainActivity" />
        </activity>
        <activity
            android:name=".StoriesActivity"
            android:label="Stories"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lifescribev01.MainActivity" />
        </activity>
        <activity
            android:name=".PeopleActivity"
            android:label="People"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lifescribev01.MainActivity" />
        </activity>
        <activity
            android:name=".FamilyTreeActivity"
            android:label="Family Trees"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lifescribev01.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>